body{
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.child{
    height:auto;
}

.welcome{
    background-image:url("assets/backgrounds/h_img.jpg");
    background-size: contain;
    padding: 3em 0 7em 4em;
    display: flex;
    justify-content: space-around;
    color:#fcfafa;
}
.delanilogo{
    
    display: flex;
    justify-content: center;
}

.intro{
    padding: 3em 0 7em 4em ;
}
.intro h1 {
    font-size: 3em;
    font-weight: 600;
}
.about_us{
    display: block;
    justify-content: space-around;
    padding: 3em 0 7em 4em;
    display: flex;
    justify-content: space-around;
}
#about{
    padding: 1em 0 3em 4em;
  
}
#about #heading1 {
    padding: 0em;
   
    
}
#about .heading {
    margin: 0;
}

.services{
    background-image:url("assets/backgrounds/s_image.jpg");
    display: block;
    text-align: center;
    padding: 0 15em 2em 15em;
    color:#fcfafa;
}  
.services .underline-link::after {
    margin: auto;
    width: 30%;
}
.services #heading1 {
    line-height: 4em;
    justify-content: center;
}

.what_we_do{
    display: flex;
    justify-content: space-around;
    padding: 0 0 7em 7em;
    text-align: center;
}
#design, #development, #productmgt{
    height: auto;
    width: auto;
}


/* hover and control*/
.product {
    padding: 1em;
    margin: 0 2em;
   
} 
.product:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.showonhover {
    display: none;
  }

.portfolio{
    display: flex;
    justify-content: space-around;
   /* padding: 0 0 7em 7em;*/
   
} 

/* sizing images*/
#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8{
    height: auto;
    width: 99%;
}
.product {
    padding: 1em;
    margin: 0 2em
} 
.product:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/*contact us and footer*/
.contactus{
    display: block;
    text-align: center;
    background-image:url("assets/backgrounds/c_image.jpg");
   color: white;
    padding:2em 0 4em 0 ;
    border-bottom: 2px solid white;
}
/*
#input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}
*/
#inputname,#inputemail{
    padding: 1em 3em 1em 3em;
    border: 0;
    margin-right: -0.3em;
    font-weight: 700;
    color: black;
}


#inputmessage{
    padding: 1em 3em 1em 3em;
    border: 0;
    margin-right: -0.3em;
    font-weight: 700;
    color: #fcfafa;
}

#icons {
    display: flex;
    justify-content: center;
}
#icons .icon {
    height: 24px;
    margin: 0 0.5em ;
    background-color: white;
    border-radius: 30px;
    padding: 0.5em;
    cursor: pointer;
    
}

/*Copyright text*/
.footer-text {
    text-align: center;
    font-weight: 600;
    margin: 0px;
    padding: 30px 0px;
}

/*format headers, center*/
#heading1 {
    padding: 0 0 0 8em;
    display: flex;
    justify-content:center;
    line-height: 3em;
    margin-bottom: 2em;
}